@page "/forgotPassword"

@layout LoginLayout

@inject IMassageService _massageService;

<div class="loginPage">
    <div class="loginHeader">
        <h2 class="loginText">Забыли пароль?</h2>
        <br/>
        <h4 class="loginText comm">Введите логин и желаемый новый пароль, и администратор сделает всё за вас</h4>
    </div>
    <div class="loginForm">
        <br/>
        <p class="formText">Логин</p>
        <input class="input" type="text" @bind="@Login1"/>
        <br/>
        <p class="formText">Пароль</p>
        <input class="input" type="password" @bind="@Password1"/>
        <br/>
        <div class="forgotPasswordPlace">
            <a href="/login" class="forgotPassword">Вспомнили пароль?</a>
        </div>
    </div>
    <div class="buttonPlace">
        <button class="acceptButton" @onclick="@(e => SendData())">Изменить пароль</button>
    </div>
</div>

@code {
    private string Login1 { get; set; }
    private string Password1 { get; set; }

    private async Task SendData()
    {
        var massage = new Massage()
        {
            MassageText = $"Пользователь {Login1} забыл свой пароль и просит заменить его на {Password1}",
            User = Login1
        };

        await _massageService.AddMassage(massage);

        NavManager.NavigateTo("/login");
    }
}
