<div class="content">
    <div>
        <div class="title">Направления импорта и экспорта</div>
        <br/>
        <br/>
        <div class="text">Таблица импорта и экспорта по категориям отображает показатели импорта и экспорта по отдельности на каждой категории. <br/>Данные представлены в виде таблицы. Для просмотра данных необходимо выбрать страну в выпадающем меню.</div>
        <br/>
        <br/>
        <select class="select" @bind="nameOfCountry">
                @if (listOfCountry != null)
                {
                    @foreach (var country in listOfCountry)
                    {
                        <option value="@country.Name">@country.Name</option>
                    }
                }
        </select>
    </div>
    <div>
        <button>Показать таблицу</button>
    </div>
</div>

@code {
    [Inject]
    private IBasicService _basicService { get; set; }

    private string nameOfCountry;
    private List<Country> listOfCountry;

    protected override async Task OnInitializedAsync()
    {
        listOfCountry = await _basicService.GetCountryes();

        if (listOfCountry is null)
            NavManager.NavigateTo("/login");
    }
}