@page "/countryes"
@layout MainLayout

<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 leftSide">
    <div class="leftSideInside">
        <div>
            <button class="selectedItem" @onclick="e => leftState = true">Общие импорт и экспорт</button>
            <button class="selectedItem" @onclick="e => leftState = false">Импорт и экспорт по категориям</button>
        </div>
        <br/>
        <br/>
        <div class="con">
            @if (leftState)
            {
                <TotalImportExport />
            }
            else
            {
                <CategoryImportExport />
            }
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 leftSide">
    <div class="leftSideInside">
        <div>
            <button class="selectedItem" @onclick="e => rightState = true">Общие импорт и экспорт</button>
            <button class="selectedItem" @onclick="e => rightState = false">Статистика по категориям</button>
        </div>
        <br/>
        <br/>
        <div class="con">
            @if (rightState)
            {
                <ImportExportPlot />
            }
            else
            {
                <span>right</span>
            }
        </div>
    </div>
</div>

@code {
    private bool leftState = true;
    private bool rightState = true;
}
