@page "/countryes"
@layout MainLayout

<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 leftSide">
    <div class="leftSideInside">
        <div>
            <button class="selectedItem" style="@(leftState ? selectColor : normalColor)" @onclick="e => leftState = true">Общие импорт и экспорт</button>
            <button class="selectedItem" style="@(leftState ? normalColor : selectColor)" @onclick="e => leftState = false">Импорт и экспорт по категориям</button>
        </div>
        <br/>
        <br/>
        <div class="con">
            @if (leftState)
            {
                <TotalImportExport />
            }
            else
            {
                <CategoryImportExport />
            }
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 leftSide">
    <div class="leftSideInside">
        <div>
            <button class="selectedItem" style="@(rightState ? selectColor : normalColor)" @onclick="e => rightState = true">Общие импорт и экспорт</button>
            <button class="selectedItem" style="@(rightState ? normalColor : selectColor)" @onclick="e => rightState = false">Статистика по категориям</button>
        </div>
        <br/>
        <br/>
        <div class="con">
            @if (rightState)
            {
                <ImportExportPlot />
            }
            else
            {
                <CategoryExport />
            }
        </div>
    </div>
</div>

@code {
    private bool leftState = true;
    private bool rightState = true;

    private string normalColor = "color: #72778E; text-decoration: none;";
    private string selectColor = "color: #354385; text-decoration: underline;";
}
