<div class="content">
    <div>
        <div class="title">График импорта и экспорта продукции</div>
        <br/>
        <br/>
        <div class="text">График истории импорта и экспорта страны отражает динамику изменеия оббъемов экспорта и импорта выбранной страны за последние 10 лет. <br/> Информация представлена в виде графика. Для просмотра необходимо выбрать страну в выпадающем списке.</div>
        <br/>
        <br/>
        <select class="select" @bind="nameOfCountry">
                @if (listOfCountry != null)
                {
                    @foreach (var country in listOfCountry)
                    {
                        <option value="@country.Name">@country.Name</option>
                    }
                }
        </select>
    </div>
    <div>
        <button>Показать таблицу</button>
    </div>
</div>

@code {
    [Inject]
    private IBasicService _basicService { get; set; }

    private string nameOfCountry;
    private List<Country> listOfCountry;

    protected override async Task OnInitializedAsync()
    {
        listOfCountry = await _basicService.GetCountryes();

        if (listOfCountry is null)
            NavManager.NavigateTo("/login");
    }
}