@using System.Security.Claims
@using System.Text
@using Microsoft.IdentityModel.Tokens
@using System.IdentityModel.Tokens.Jwt
@inherits LayoutComponentBase

@inject Blazored.LocalStorage.ILocalStorageService localStorage

<header>
    <NavMenu />
    <div class="buttonP">
        <div class="linkRight">
            <div class="rightSpan">@Login</div>
        </div>
        <div class="linkRight accauntButton">
            <button class="accauntButton" @onclick="OnClick">Настройки аккаунта</button>
        </div>
    </div>
</header>

<hr />

<div class="container cu">
    <div class="row align-items-center mainDiv col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        @Body
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - Importify - <a href="https://vk.com/artem_gck">Vk</a>
    </div>
</footer>

@code {
    private string login;

    private string Login { 
        get => "@" + login;
        set => login = value;
    }

    protected override async void OnInitialized()
    {
        Login = await localStorage.GetItemAsStringAsync("user");
        StateHasChanged();
    }

    private void OnClick()
        => NavManager.NavigateTo("/accaunt");
}