@inherits LayoutComponentBase

<header>
    <NavMenu />
    <div class="buttonP">
        <div class="linkRight">
            <div class="rightSpan">@Login</div>
        </div>
        <div class="linkRight accauntButton">
            <button class="accauntButton">Настройки аккаунта</button>
        </div>
    </div>
</header>

<hr />

<div class="container cu">
    <div class="row align-items-center mainDiv col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        @Body
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - Importify - <a href="https://vk.com/artem_gck">Vk</a>
    </div>
</footer>

@code {
    private string login = "artem_gck";

    private string Login { 
        get => "@" + login;
        set => login = value;
    }
}