<div class="links">
    <div class="linkLeft">
        <a class="link" href="countryes">
            Страны
        </a>
    </div>
    <div class="linkLeft">
        <a class="link" href="category">
            Категории
        </a>
    </div>
</div>