@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="links">
    <div class="linkLeft">
        <a class="link" style="@(state == 0 ? selectColor : normalColor)" @onclick="e => state = 0" href="countryes">
            Страны
        </a>
    </div>
    <div class="linkLeft">
        <a class="link" style="@(state == 1 ? normalColor : selectColor)" @onclick="e => state = 1" href="category">
            Категории
        </a>
    </div>
    @if (admin)
    {
        <div class="linkLeft">
        <a class="link" style="@(state == 2 ? normalColor : selectColor)" @onclick="e => state = 2" href="users">
            Пользователи
        </a>
    </div>
    }
</div>

@code {
    private byte state = 0;
    private bool admin = false;

    private string normalColor = "color: #72778E; text-decoration: none;";
    private string selectColor = "color: #354385; text-decoration: underline;";

    protected override async void OnInitialized()
    {
        admin = await localStorage.GetItemAsStringAsync("role") == "admin";
        StateHasChanged();
    }
}