<div class="content">
    @if (stateOfScreen)
    {
        <div>
            <div class="title">Импорт в направлении по странам</div>
            <br/>
            <br/>
            <div class="text">Таблица импорта в направлениях по странам отображает данные по  импорту в выбранном напралении в различных странах. Данные отображаются в виде таблицы. Для просмотра необходимо выбрать страну в выпадающем списке.</div>
            <br/>
            <br/>
            <select class="select" @bind="nameOfCategory">
                @if (listOfCategory != null)
                {
                    @foreach (var country in listOfCategory)
                    {
                        <option value="@country.Name">@country.Name</option>
                    }
                }
            </select>
        </div>
        <div>
            <button @onclick="e => OnButtonClick()">Показать таблицу</button>
        </div>
    }
    else
    {
        <CategoryImportTable CategoryName="@nameOfCategory" OnClickCallback="@OnButtonClick"/>
    }
</div>

@code {
    [Inject]
    private IBasicService _basicService { get; set; }

    private bool stateOfScreen = true;

    private string nameOfCategory = "Химикаты";
    private List<Category> listOfCategory;

    protected override async Task OnInitializedAsync()
    {
        listOfCategory = await _basicService.GetCategories();

        if (listOfCategory is null)
            NavManager.NavigateTo("/login");
    }

    private async Task OnButtonClick()
        => stateOfScreen = !stateOfScreen;
}