html, body, #app {
    height: 100%;
}

.cu {
    height: 90%;
}

.cut {
    height: 97%;
}

footer {
    padding-left: 10px;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
    max-width: unset;
}

.row {
    height: 100%;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.left {
    background-color: white;
    text-align: center;
}

.right {
    height: 100%;
    background: linear-gradient(to top, #3977E0, #354284);
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
}

img {
    max-width: 85%;
}

.main {
    text-align: left;
    height: 70%;
    width: 70%;
}

.loginText {
    color: #fafafa;
    font: 32pt sans-serif;
    font-family: "SF Compact Text", sans-serif;
}

.comm {
    color: #fafafa;
    font: 16pt sans-serif;
    font-family: "SF Compact Text", sans-serif;
}

.loginForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.input {
    width: 80%;
    border: 0px;
    border-radius: 27px;
    height: 40px;
    font-size: 20px;
    font-family: "SF Compact Text", sans-serif;
    padding-left: 10px;
    opacity: 0.2;
}

.input:focus {
    outline: none !important
}

.acceptButton {
    background-color: #02E079;
    border: 0px;
    border-radius: 27px;
    height: 40px;
    font: 18px sans-serif;
    font-family: "SF Compact Text", sans-serif;
    color: white;
    width: 50%;
}

.accauntButton {
    background-color: #354385;
    border: 0px;
    border-radius: 27px;
    height: 35px;
    font: 18px sans-serif;
    font-family: "SF Compact Text", sans-serif;
    color: white;
    width: 250px;
}

.buttonPlace {
    width: 100%;
    text-align: center;
}

.forgotPasswordPlace {
    width: 100%;
    text-align: right;
}

a.forgotPassword:active,
a.forgotPassword:hover,
a.forgotPassword {
    text-decoration: none;
    font: 16px sans-serif;
    font-family: "SF Compact Text", sans-serif;
    color: white;
}

.formText {
    font: 16px sans-serif;
    font-family: "SF Compact Text", sans-serif;
    color: white;
}

.loginPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registrationPlace {
    text-align: right;
}

a.registrationLink:active,
a.registrationLink:hover,
a.registrationLink {
    text-decoration: none;
    font: 16px sans-serif;
    font-family: "SF Compact Text", sans-serif;
    color: white;
}

.mainDiv {
    background-color: #F2F3F7;
    height: 100%;
}

header {
    background-color: #F2F3F7;
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    width: 50%;
}

.buttonP {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.link:active,
.link:hover,
.link {
    text-decoration: none;
    font: 24px sans-serif;
    font-family: "SF Compact Text", sans-serif;
    color: #72778E;
}

.linkLeft {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
}

.linkRight {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
    font: 24px sans-serif;
    font-family: "SF Compact Text", sans-serif;
    color: #72778E;
}

.rightSpan {
    
}

hr {
    border: none;
    background-color: gray;
    color: black;
    margin: 0px;
}

.leftSide {
    height: 80%;    
}

.leftSideInside {
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.rightSide {
    height: 100%;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
}

.selectedItem {
    background-color: #F2F3F7;
    border: 0px;
    height: 35px;
    font: 18px sans-serif;
    font-family: "SF Compact Text", sans-serif;
    color: #72778E;
    width: 300px;
}

.con {
    height: 75%;
}